.top{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);

}
.title{
    font-size:40px;
    margin-right: 5%;
}
.inputArea{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 5%;
}
.input{
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 35px;
}
.inputStyle{
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 20px;
    height: 40px;
    
}
.serchIcon{
    color: rgb(186, 186, 186);
    margin-right: 10px;
}
.inputText{
    color: rgb(186, 186, 186);
}
.icons{
    margin-left: 5%;
}
.offIconSelect{
    color: rgb(186, 186, 186);
    margin: 10px;
}
.onIconSelect{
    color: black;
    margin: 10px;
}
.hide{
    display: none;
}